body {
    font-family: 'Roboto', sans-serif;
    --blue-color: #0066cc;
    background-color: #000000;
    color: #fafafa;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #111111;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#spacer {
    height: 4px;
    background-color: var(--blue-color);
}

header h1 {
    font-size: 2.4rem;
    font-weight: bolder;
    line-height: 2.8rem;
}

header h1:first-child {
    font-size: 1.8rem;
}

header h1:first-child::before {
    content: '{';
    color: var(--blue-color);
    font-size: 2.2rem;
    margin-right: 0.1rem;
}

header h1:first-child::after {
    content: '}';
    color: var(--blue-color);
    font-size: 2.2rem;
    margin-left: 0.1rem;
}

.inputArea {
    background-color: #fafafa07;
    border: var(--blue-color) solid 3px;
    border-radius: 8px;
    width: 70%;
    margin: 0 auto 1.4rem auto;
    padding: 2.4rem;
}

.inputArea form fieldset {
    display: flex;
    flex-direction: column;
}

.inputArea form fieldset label {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
    color: #fafafaaa;
}

.inputArea form fieldset input {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    margin-bottom: 0.8rem;
    outline: none;
}

#message {
    min-height: 50px;
}

#postar {
    max-width: 100px;
    margin: 0 auto;
    padding: 0.8rem 1.2rem;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 8px;
    background-color: #0066cc;
    color: #fafafa;
    transition: opacity 400ms;
}

#postar:hover {
    cursor: pointer;
    opacity: 0.9;
}

button.deleteAll {
    margin: 0 auto 1.4rem auto;
    padding: 0.8rem 1.2rem;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 8px;
    background-color: #0066cc;
    color: #fafafa;
    transition: opacity 400ms;
    outline: none;
    border: 0;
}

button.deleteAll:hover {
    cursor: pointer;
    opacity: 0.9;
}

#feed {
    margin-top: 1.2rem;
    padding: 2.4rem 1.2rem;
    width: 78%;
    margin: 0 auto;
    border-left: #0066cc solid 2px;
    border-right: #0066cc solid 2px;
}

.newPost {
    width: 90%;
    margin: 0 auto 2.4rem auto;
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: .2rem 0.2rem #fafafa;
}

.newPost .buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.newPost .buttons button:nth-child(1n) {
    margin: 0 0.4rem;
}

.newPost .buttons .delete-button {
    background-image: url(./trash.svg);
    background-repeat: no-repeat;
    background-color: #00000000;
    border: none;
    width: 30px;
    height: 30px;
    transition: transform 400ms;
}

.newPost .buttons .delete-button:hover {
    transform: scale(1.1);
}

.newPost .buttons .edit-button {
    background-image: url(./pencil.svg);
    background-repeat: no-repeat;
    background-color: #00000000;
    border: none;
    width: 30px;
    height: 30px;
    transition: transform 400ms;
}

.newPost .buttons .edit-button:hover {
    transform: scale(1.1);
}

.newPost .buttons button:nth-child(1n):hover {
    cursor: pointer;
}

.newPost .container {
    padding: 0.4rem 0;
    text-align: left;
}

.newPost .container h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.newPost .container p {
    font-size: 1.2rem;
}

.editContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000bb;
}

.editContainer form {
    background-color: black;
    padding: 1.2rem 3.6rem;
    border: #0066cc solid 3px;
    border-radius: 8px;
    width: 45%;
}

.editContainer form fieldset {
    display: flex;
    flex-direction: column;
}

.editContainer form fieldset h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
}

.editContainer form fieldset label {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
    color: #fafafaaa;
}

.editContainer form fieldset input {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    margin-bottom: 0.8rem;
    outline: none;
}

#newMessage {
    min-height: 50px;
}

#confirm,
#cancel {
    min-width: 100px;
    margin: 0.8rem auto;
    padding: 0.8rem 1.2rem;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 8px;
    background-color: #0066cc;
    color: #fafafa;
    transition: opacity 400ms;
    outline: none;
    border: none;
}

#postar:hover {
    cursor: pointer;
    opacity: 0.9;
}